// -----------------------------------------------------------------------------
// Blog page
// -----------------------------------------------------------------------------

/* stylelint-disable no-descending-specificity */

.blog {
  min-height: 100vh;
  margin: 0 7rem;
  & * a {
    text-decoration: none;
    color: #ffff;
    display: block;
    margin-bottom: 1rem;
  }
}
