// -----------------------------------------------------------------------------
// Careers page
// -----------------------------------------------------------------------------

/* stylelint-disable no-descending-specificity */

@media screen and (min-width: $xtraLarge) {
  %circle {
    position: absolute;
    background: #705bff;
    opacity: 0.28;
    filter: blur(200px);
    z-index: -10;
    width: 409px;
    height: 413px;
  }

  .circle6 {
    @extend %circle;
    left: -17.95%;
    right: 34.17%;
    top: -2.28%;
    bottom: 12.27%;
  }
  .circle7 {
    @extend %circle;
    left: 31.08%;
    right: -3.86%;
    top: -28.21%;
    bottom: 50.02%;
  }
  .circle8 {
    @extend %circle;
    left: 55.21%;
    right: -16.41%;
    top: 41.27%;
    bottom: -7.01%;
  }
  .circle9 {
    @extend %circle;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }
  .circle10 {
    @extend %circle;
    opacity: 0.18;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }
  .circle11 {
    @extend %circle;
    opacity: 0.18;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }
  .circle12 {
    @extend %circle;
    opacity: 0.158;
    right: -4%;
    bottom: 5%;
  }
  .circle13 {
    @extend %circle;
    opacity: 0.18;
    left: 9%;
    bottom: -21%;
  }
}

.careers {
  min-height: 100vh;
  width: 100vw;
  @media screen and (max-width: $xtraLarge) {
    overflow: hidden;
  }
  margin-bottom: -30rem;
  &-title {
    width: calc(100% - 15%);
    margin: 0 auto;
    padding-top: 2rem;
  }
  &-first-box {
    width: calc(100% - 15%);
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: $large) {
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      margin-bottom: -20rem;
    }
    justify-content: center;
    align-items: center;
    &-join {
      @media screen and (max-width: $large) {
        width: 100%;
      }
      width: 50%;
      margin-right: 2.5rem;
      padding-top: 4.5rem;
      & > h2 {
        margin-bottom: 6rem;
      }
    }
    &-illustration {
      position: relative;
      @media screen and (max-width: $large) {
        transform: scale(0.6);
        align-self: start;
        margin-left: -1rem;
        @media screen and (min-width: $medium) {
          align-self: center;
          margin-left: -8rem;
        }
      }
      width: 50%;
    }
  }
  .values {
    background-image: url("../../images/bg-core-values.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1300px;
    @media screen and (min-width: $xtraLarger) {
      height: 2100px;
      margin-top: 0;
    }

    @media screen and (max-width: $medium) {
      height: 1800px;
      padding-top: 5rem;
      margin-top: 0;
    }
    margin-top: -10rem;
    &-content {
      width: calc(100% - 15%);
      margin: 0 auto;
      height: 100%;
      padding-top: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-title {
        margin: 3rem 0;
        & > h3 {
          font-size: 2rem;
        }
      }
      &-text {
        text-align: center;
        margin-bottom: 3rem;
      }
      &-list {
        @media screen and (max-width: $large) {
          width: calc(100% - 5%);
          margin: 0 auto;
        }
        &-bullet {
          padding-left: 0;
          list-style-type: none;
          &-line {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            margin-bottom: 0.7rem;
            &-img {
              width: 2.5rem;
              @media screen and (max-width: $medium) {
                width: 4.5rem;
              }
              display: flex;
              justify-content: start;
              transition: padding 0.5s;
            }
            &-text {
              width: 47.5rem;
            }
          }
        }
      }
    }
  }

  .enjoy {
    width: calc(100% - 15%);
    margin: 0 auto;
    @media screen and (max-width: $large) {
      margin-top: 0;
    }
    margin-top: 8rem;
    &-box {
      display: flex;
      @media screen and (max-width: $large) {
        flex-direction: column;
      }
      justify-content: center;
      align-items: flex-start;
      &-title {
        position: relative;
        @media screen and (max-width: $large) {
          width: 100%;
          margin: 2rem 0;
          text-align: center;
        }
        width: 50%;
        display: flex;
        justify-content: center;
        & > h2 {
          width: 60%;
        }
      }
      &-list {
        @media screen and (max-width: $large) {
          width: 100%;
        }
        width: 50%;
        &-bullet {
          padding-left: 0;
          list-style-type: none;
          &-line {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            margin-bottom: 0.7rem;
            &-img {
              width: 2.5rem;
              display: flex;
              justify-content: start;
              transition: padding 0.5s;
            }
            &:hover > .enjoy-box-list-bullet-line-img {
              padding-left: 1.3rem;
            }
          }
        }
      }
    }
  }
  .team {
    width: calc(100% - 5%);
    margin: 0 auto;
    @media screen and (min-width: $xtraLarger) {
      margin-top: 18rem;
    }

    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      position: relative;
      margin: 5rem 0;
    }
    &-flow {
      position: relative;
      @media screen and(max-width: $medium) {
        overflow: scroll;
      }
      width: 100%;
      align-self: flex-start;
      &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin: 0 2rem;
        &-box {
          width: 317px;
          height: 132px;
          border-radius: 25px;
          background: linear-gradient(
            107.39deg,
            #94a3b8 15.4%,
            rgba(71, 85, 105, 0) 187.27%
          );
          justify-self: center;
          &-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 0 1.5rem;
            text-align: center;
            & > p {
              margin-bottom: 0;
              font-size: 1.25rem;
            }
          }
        }
        & > div:nth-child(2n) {
          background: rgba(255, 255, 255, 0.1);
          border: 4px solid rgba(255, 255, 255, 0.4);
        }
        & > div:last-child {
          grid-column: 2;
          background: rgba(255, 255, 255, 0.1);
          border: 4px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  .form {
    background-image: url("../../images/bg-form.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1200px;
    @media screen and (min-width: $medium) {
      margin-bottom: 1rem;
    }
    // margin-bottom: 8rem;
    padding-top: 7.5rem;
    @media screen and (min-width: $xtraLarger) {
      height: 1950px;
      padding-top: 22rem;
      margin-bottom: -40rem;
    }
    &-fields {
      width: calc(100% - 15%);
      margin: 0 auto;
      height: 750px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $large) {
        align-items: flex-start;
        padding-top: 18rem;
      }
      &-box {
        gap: 2.5rem;
        width: 56%;
        display: flex;
        @media screen and (max-width: $large) {
          flex-direction: column;
          width: 100%;
        }
        justify-content: space-around;
        margin-bottom: 2.5rem;
        &-input {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          & > label {
            margin-bottom: 0.5rem;
            font-size: 1.125rem;
            font-weight: bold;
          }
          & > input,
          select {
            width: 100%;
            height: 2.75rem;
            border: 2px solid rgba(255, 255, 255, 0.664);
            border-radius: 10px;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.664);
            padding: 0.5rem;
          }
          & > input::-webkit-file-upload-button {
            display: none;
          }
          & > input[type="file"] {
            background-image: url("../../images/clip-icon.svg");
            background-position: 95%;
            background-repeat: no-repeat;
            background-size: 1rem;
          }
          & > select {
            appearance: none;
            background-image: url("../../images/arrow.svg");
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: 95%;
          }
          & > input:focus,
          select:focus {
            outline: none;
          }
        }
      }
      &-box2 {
        width: 56%;
        @media screen and (max-width: $large) {
          width: 100%;
        }
        margin-bottom: 2.5rem;
        &-input2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          & > label {
            align-self: start;
            margin-bottom: 0.7rem;
            // margin-left: 2.6rem;
            font-size: 1.125rem;
            font-weight: bold;
          }
          & > input {
            width: 100%;
            height: 4.8rem;
            border: 2px solid rgba(255, 255, 255, 0.664);
            border-radius: 10px;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.664);
            padding: 0 0.5rem;
            padding-bottom: 2.3rem;
            background-image: url("../../images/clip-icon.svg");
            background-position: 95%;
            background-repeat: no-repeat;
            background-size: 1rem;
          }
          & > input::-webkit-file-upload-button {
            display: none;
          }
          & > input:focus {
            outline: none;
          }
        }
      }
      &-button {
        width: 30%;
        @media screen and (max-width: $large) {
          width: 100%;
        }
        @media screen and (min-width: $xtraLarger) {
          margin-bottom: -16rem;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: 25;
        & > button {
          background-color: #705bff;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          color: white;
          border: transparent;
          transition: background-color ease-in-out 0.15s;
          padding: 1rem 2rem;
        }
        & > button:hover {
          background-color: #715bffd0;
        }
      }
    }
  }
}
