// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

/* stylelint-disable no-descending-specificity */


@media screen and (max-width: $xtraLarge) {
  // HOME

  .home {
    width: 100vw;
    min-height: 650px;
    @media screen and (max-width: $small) {
      overflow: hidden;
    }
    overflow: hidden;
    .hero {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.5rem;
        & .home-p {
          text-align: center;
          font-size: 1rem;
        }
        .icons {
          display: flex;
          gap: 1rem;
          margin: 1rem 0;
          img {
            width: 150px;
            height: 45px;
          }
        }
        .flags-text {
          padding-top: 1.5rem;
        }
        .flags {
          margin: 0 auto;
          & > img {
            width: 38px;
            @media screen and (max-width: $small) {
              width: 32px;
            }
          }
        }
      }
      &-img {
        position: relative;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0.6);
        z-index: -15;
        overflow: hidden;
        &-lines {
          position: absolute;
          right: -250px;
          top: 200px;
          overflow: hidden;
          transform: scale(0.7);
          & > video {
            overflow: hidden;
          }
        }
        &-phone {
          position: absolute;
          left: 200px;
          top: 30px;
          transform: rotate(6.5deg);
          z-index: 1;
          & .hero-video {
            border-top-left-radius: 42px;
            border-top-right-radius: 42px;
            border-bottom-left-radius: 45px;
            border-bottom-right-radius: 45px;
          }
        }
        &-base {
          z-index: 10;
          transform: scale(0.8);
          margin-top: 6.8rem;
          &-phone1 {
            width: 177px;
            margin-left: -4rem;
            margin-top: 3rem;
          }
        }
      }
    }
  }
  @keyframes MoveUpDown {
    0%,
    100% {
      transform: rotate(20deg) translateY(0);
    }
    50% {
      transform: rotate(20deg) translateY(-14px);
    }
  }

  // WAITLIST

  .waitlist_location_width {
    max-width: 32rem;
    margin-top: 1rem;
    @media screen and (min-width: $medium) and (max-width: $large) {
      max-width: 27rem;
      margin-top: 2rem;
    }
  }

  .bg-cards {
    width: 100%;
    position: relative;
    background-image: url("../../images/bg-cards5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
    margin-top: -8rem;
    padding: 0 1rem;
    overflow: hidden;
    &-text {
      width: 90%;
      padding-top: 11rem;
      gap: 1rem;
      flex-wrap: wrap;
      & > h2 {
        @media screen and (max-width: $small) {
          font-size: 2rem;
        }
        @media screen and (min-width: $small) and (max-width: $medium) {
          font-size: 2.6rem;
        }
        font-size: 2.75rem;
        flex-shrink: 1;
        position: relative;
        font-weight: bold;
        & > span {
          animation: blinker 1s infinite;

          @keyframes blinker {
            50% {
              opacity: 0;
            }
          }

          @keyframes typeMachine {
            from {
              width: 100%;
            }
            to {
              width: 0;
            }
          }
        }
      }
    }
    &-text2 {
      width: 100%;
      // width: 35rem;
      margin: 2rem 0;
      & > h3 {
        font-weight: bold;
        color: #ffff;
      }
    }
    &-inputs {
      width: 100%;
      // width: 33.83rem;
      display: flex;
      flex-direction: column;
      &-boxes {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        & > input,
        #phone {
          height: 3.875rem;
          width: 100%;
          // width: 27.83rem;
          background: #ffffff;
          border-style: none;
          border-radius: 8px;
          font-weight: 600;
        }
        & > input {
          padding-left: 1rem;
        }
        & .iti__flag-container {
          & .iti__selected-flag {
            padding: 0 1rem;
          }
          & .iti__selected-flag::after {
            content: "";
            position: absolute;
            right: 0;
            height: 80%;
            border-right: 0.5px solid #cbd4e1;
          }
          // & .iti__flag.iti__ar {
          // }
        }
        & #phone {
          padding-left: 5rem;
        }
      }
      :focus {
        outline: none;
      }
      &-buttons {
        display: flex;
        flex-direction: column;
        &-check {
          width: 60%;
          display: flex;
          align-items: center;
          justify-content: start;
          margin: 1.8rem 0;
          & #termsConditions {
            appearance: none;
            margin: 0;
            margin-right: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid #f1f4f9;
            border-radius: 4px;
            display: grid;
            place-content: center;
          }
          & #termsConditions::before {
            content: "";
            width: 1.1rem;
            height: 1.1rem;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em #142339;
            transform-origin: bottom left;
            clip-path: polygon(
              14% 44%,
              0 65%,
              50% 100%,
              100% 16%,
              80% 0%,
              43% 62%
            );
          }
          & #termsConditions:checked::before {
            transform: scale(1);
          }
        }
        & > button {
          height: 3.875rem;
          // width: 27.83rem;
          width: 100%;

          padding: 1rem;
          background: #142339;
          color: #ffff;
          border-style: none;
          border-radius: 8px;
          text-align: center;
          font-weight: bold;
        }
        &-rank {
          text-align: center;
          color: #ffff;
          // width: 27.83rem;
          margin: 1.8rem 0;
          font-weight: bold;
          & > a {
            // text-decoration: none;
            color: #ffff;
          }
        }
      }
    }
    ::placeholder {
      color: #cbd4e1;
      opacity: 1;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  // GOOD LIFE

  .good-life-container {
    margin-top: 10rem;
    margin-bottom: -10rem;
  }
  .good-life {
    padding: 4rem 0;
    // width: 100%;
    max-width: 75%;
    margin: 0 auto;
    justify-self: center;
    @media screen and (min-width: $medium) and (max-width: $large) {
      max-width: 75%;
    }
  }

  // YOUR CARD

  .bg-customize {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 2559px;
    @media screen and (min-width: $medium) {
      height: 2359px;
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -30rem 0;
    margin-bottom: -18rem;
    overflow: hidden;
    &-container {
      width: 100%;
      padding-top: 23rem;
      @media screen and (min-width: $medium) {
        padding-top: 21rem;
      }
      &-text {
        text-align: center;
        // width: 100%;
      }
      &-carousel {
        width: 100%;
        transform: scale(0.7);
        margin-left: 0 auto;
      }
    }

    .select-arrows {
      width: 1.25rem;
      height: 1.25rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .select-arrows:hover {
      transform: scale(1.4);
    }
    .select-arrows:active {
      transform: scale(0.7);
    }
    .img-view {
      width: 27.3rem;
      height: 17.3rem;
      margin: 0 0.8rem;
      transition: all 0.4s ease-in-out;
    }

    .get-card {
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // flex-shrink: 1;
    }
    .Cards__img {
      transition: transform ease-in-out 0.2s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transform: scale(1.4);
      }
    }
    .list-bullet {
      width: 90%;
      margin: 0 auto;
      padding-left: 0;
      // padding-right: 2rem;
      list-style-type: none;
      .list-icon {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        margin-bottom: 0.7rem;
        &-img {
          width: 2.5rem;
          display: flex;
          justify-content: start;
          // padding-right: 0.5rem;
          transition: padding 0.5s;
        }
        &:hover > .list-icon-img {
          padding-left: 1.3rem;
          // justify-content: end;
        }
        & > .list-icon-text {
          width: 90%;
        }
      }
    }
  }

  // SEND MONEY

  .send-money {
    width: 100%;
    min-height: 670px;
    margin-bottom: -20rem;
    h3 {
      color: #00cec2;
      text-align: center;
      font-weight: 600;
    }
  }
  .hover-boxes {
    text-align: center;
    max-width: 23.125rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: transparent;
  }
  .hover-boxes:hover {
    background-color: rgba(33, 57, 94, 0.548);
    transition: background-color ease-in-out 200ms;
  }
  .container-boxes-img {
    transform: scale(0.7);
    margin: 0 auto;
  }
  .container-boxes {
    display: inline-block;
  }

  .boxes {
    margin-bottom: 0;
    height: 250px;
    display: grid;
    align-items: flex-start;
  }

  // PAY BILLS

  .bg-bills {
    background-image: url("../../images/bg-bills.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1650px;
    padding-top: 5rem;
    @media screen and (min-width: $medium) {
      height: 2050px;
      padding-top: 8rem;
    }
    width: 100%;
    margin: -10rem auto;
    margin-top: -20rem;
    // margin-bottom: -20rem;
    overflow: hidden;
    &-box {
      // width: 55%;
      margin: 0 auto;
      padding: 0 1.5rem;
      margin-top: 18rem;
      width: 24.625rem;
    }
    &-img {
      &-svg {
        & > img {
          @media screen and (max-width: $small) {
            width: 90%;
          }
          width: 100%;
        }
      }
    }
  }

  // AIRTIME

  .airtime {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    height: 1000px;
    // width: 90%;
    // @media screen and (max-width: $small) {
    //   width: 80%;
    // }
    padding-top: 4rem;
    overflow: hidden;
    &-flex {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      &-box-img {
        margin-bottom: -3rem;
        &-div {
          width: 100%;
          & > img {
            width: 100%;
            @media screen and (min-width: $large) {
              width: 74%;
              margin-left: 6rem;
            }
            // width: 24.625rem;
          }
        }
      }
    }
    &-box {
      @media screen and (max-width: $small) {
        width: 100%;
      }
      width: 24.625rem;
      margin: 0 auto;
    }
    .img-centered {
      width: 100%;
      margin-left: -5rem;
    }
  }

  // GET INSIGHTS

  .bg-expenses {
    background-image: url("../../images/bg-expenses2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45%;
    height: 1720px;
    width: 100%;
    overflow: hidden;
    margin-top: -7rem;
  }

  .expenses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25rem;
    padding-bottom: 3rem;

    .expenses-boxes {
      justify-self: end;
      // background-color: #00cec497;
      @media screen and (min-width: $medium) {
        max-width: 70%;
      }
      width: 100%;
      &-margin {
        margin-left: 6rem;
        margin-top: 3rem;
        width: 80%;
        @media screen and (min-width: $medium) {
          width: 70%;
          margin-left: 13rem;
          margin-top: 5rem;
        }
      }
    }
  }

  // SECURITY

  .each-cards {
    border-radius: 25px;
    background: linear-gradient(
      313.58deg,
      rgba(255, 255, 255, 0) -43.67%,
      rgba(160, 146, 255, 0.221) 47.7%
    );
    @media screen and (max-width: $small) {
      width: 100%;
    }
    width: 23.562rem;
    // width: 100%;
    margin: 1rem auto;
    height: 17.125rem;
    @media screen and (max-width: $small) {
      min-height: 17.125rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 2.5rem;
    &-img {
      padding-top: 1rem;
      transform: scale(0.8);
      margin-left: -0.5rem;
    }
    &-text {
      height: 4.5rem;
    }
    & * h4 {
      margin-bottom: 0;
    }
  }

  //CARDS W/ICONS

  .transfer {
    width: 100%;
    padding-top: 12rem;
  }
  .transfer-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
  }

  .transfer-grid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 4rem;
  }
  .transfer-boxes {
    margin: 1.5rem 0;
    width: 19.625rem;
    height: 13.625rem;
  }
  .boxes-border {
    width: 19.625rem;
    border-bottom: 1px solid #94a3b8;
    border-left: 1px solid #94a3b8;
    border-bottom-left-radius: 20px;
    height: 250px;
    display: grid;
    align-items: flex-start;
    & img {
      width: 2.875rem;
      height: 2.875rem;
    }

    &:hover {
      background-color: rgba(33, 57, 94, 0.548);
    }
  }
}

@media screen and (min-width: $xtraLarge) {
  .circle1 {
    position: absolute;
    height: 317px;
    width: 317px;
    left: -176px;
    top: -60px;
    background: #705bff;
    opacity: 0.28;
    filter: blur(200px);
    z-index: -10;
  }
  .circle3 {
    position: absolute;
    width: 409px;
    height: 413px;
    left: 0;
    top: 0;
    background: #705bff;
    opacity: 0.15;
    filter: blur(200px);
    z-index: -10;
  }
  .circle4 {
    position: absolute;
    width: 409px;
    height: 325.7px;
    left: 310px;
    top: 463px;
    background: #705bff;
    opacity: 0.15;
    filter: blur(200px);
    z-index: -10;
  }
  .circle5 {
    position: absolute;
    height: 409px;
    width: 413px;
    left: 1050px;
    top: 0;
    background: #705bff;
    opacity: 0.15;
    filter: blur(200px);
    z-index: -10;
  }

  // HOME

  .home {
    padding-bottom: 16px;
    min-height: 650px;
    .hero {
      display: flex;
      justify-content: center;
      flex-direction: row;
      // padding: 2rem 5rem;
      &-text {
        align-items: flex-start;
        padding: 0 2.5rem;
        z-index: 10;
        & .home-p {
          font-size: 1.125rem;
        }
        .icons img {
          width: 150px;
          height: 45px;
        }
        .flags {
          & > img {
            width: 43px;
            height: 30px;
            margin-right: 0;
          }
        }
      }
      &-img {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: scale(1);
        &-lines {
          position: absolute;
          right: 0;
          top: 200px;
          // margin-right: -190px;
          margin-right: -270px;
          transform: scale(0.7);
          z-index: -5;
        }
        &-phone {
          position: absolute;
          // left: 265px;
          left: 200px;
          top: 30px;
          transform: rotate(6.5deg);
          z-index: 1;
          & .hero-video {
            border-top-left-radius: 42px;
            border-top-right-radius: 42px;
            border-bottom-left-radius: 45px;
            border-bottom-right-radius: 45px;
          }
        }
        &-base {
          z-index: 10;
          transform: scale(0.8);
          margin-top: 6.8rem;
          &-phone1 {
            width: 177px;
            // width: 600px;
            margin-left: -4rem;
            margin-top: 3rem;
          }
        }
      }
    }
  }

  // WAITLIST - CARDS

  @keyframes MoveUpDown {
    0%,
    100% {
      transform: rotate(20deg) translateY(0);
    }
    50% {
      transform: rotate(20deg) translateY(-14px);
    }
  }

  .waitlist_location_width {
    max-width: 35rem;
  }
  .bg-cards {
    position: relative;
    background-image: url("../../images/bg-cards5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1300px;
    @media screen and (min-width: $xtraLarger) {
      height: 2500px;
    }
    &-text {
      @media screen and (min-width: $xtraLarger) {
        padding-top: 35rem;
      }
      padding-top: 18rem;
      margin-left: 7rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & > h2 {
        font-size: 3.5rem;
        flex-shrink: 1;
        position: relative;
        font-weight: bold;
        & > span {
          animation: blinker 1s infinite;

          @keyframes blinker {
            50% {
              opacity: 0;
            }
          }

          @keyframes typeMachine {
            from {
              width: 100%;
            }
            to {
              width: 0;
            }
          }
        }
      }
    }
    &-text2 {
      width: 35rem;
      margin: 2rem 0;
      margin-left: 7rem;
      & > h3 {
        font-weight: bold;
        color: #ffff;
      }
    }
    &-inputs {
      margin-left: 3.5rem;
      width: 33.83rem;
      display: flex;
      flex-direction: column;
      &-boxes {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        & > input,
        #phone {
          height: 3.875rem;
          width: 27.83rem;
          background: #ffffff;
          border-style: none;
          border-radius: 8px;
          font-weight: 600;
        }
        & > input {
          padding-left: 1rem;
        }
        & .iti__flag-container {
          & .iti__selected-flag {
            padding: 0 1rem;
          }
          & .iti__selected-flag::after {
            content: "";
            position: absolute;
            right: 0;
            height: 80%;
            border-right: 0.5px solid #cbd4e1;
          }
          // & .iti__flag.iti__ar {
          // }
        }
        & #phone {
          padding-left: 5rem;
        }
      }
      :focus {
        outline: none;
      }
      &-buttons {
        display: flex;
        flex-direction: column;
        &-check {
          display: flex;
          align-items: center;
          justify-content: start;
          margin: 1.8rem 0;
          & #termsConditions {
            appearance: none;
            background-color: transparent;
            margin: 0;
            margin-right: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid #f1f4f9;
            border-radius: 4px;
            display: grid;
            place-content: center;
          }
          & #termsConditions::before {
            content: "";
            width: 1.1rem;
            height: 1.1rem;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em #142339;
            transform-origin: bottom left;
            clip-path: polygon(
              14% 44%,
              0 65%,
              50% 100%,
              100% 16%,
              80% 0%,
              43% 62%
            );
          }
          & #termsConditions:checked::before {
            transform: scale(1);
          }
        }
        & > button {
          height: 3.875rem;
          width: 27.83rem;
          padding: 1rem;
          background: #142339;
          color: #ffff;
          border-style: none;
          border-radius: 8px;
          text-align: center;
          font-weight: bold;
        }
        &-rank {
          text-align: center;
          color: #ffff;
          width: 27.83rem;
          margin: 1.8rem 0;
          font-weight: bold;
          & > a {
            // text-decoration: none;
            color: #ffff;
          }
        }
      }
    }
    ::placeholder {
      color: #cbd4e1;
      opacity: 1;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  // GOOD LIFE
  .good-life-container {
    @media screen and (min-width: $xtraLarger) {
      margin-top: 25rem;
      margin-bottom: -25rem;
    }
    margin-top: 10rem;
  }
  .good-life {
    padding-bottom: -16px;
    // width: 100%;
    // width: 49.375rem;
    width: 67.375rem;
    margin: 0 auto;
    height: 260px;
  }

  // YOUR CARD

  .bg-customize {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1160px;
    @media screen and (min-width: $xtraLarger) {
      //+1200
      height: 2330px;
    }
    width: 100%;
    &-container {
      padding-top: 25rem;
      @media screen and (min-width: $xtraLarger) {
        padding-top: 50rem;
      }

      &-flex {
        display: flex;
        justify-content: center;
        gap: 5;
        @media screen and (min-width: $xtraLarger) {
          padding-top: 10rem;
        }
      }
      &-text {
        text-align: left;
      }
    }

    .select-arrows {
      width: 1.25rem;
      height: 1.25rem;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform ease-in-out 0.3s;
    }
    .select-arrows:hover {
      transform: scale(1.4);
    }
    .select-arrows:active {
      transform: scale(0.7);
    }
    .img-view {
      width: 27.3rem;
      height: 17.3rem;
      margin: 0 0.8rem;
      transition: all 0.4s ease-in-out;
    }

    .get-card {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-shrink: 1;
    }
    .Cards__img {
      transition: transform ease-in-out 0.2s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transform: scale(1.4);
      }
    }
    .list-bullet {
      @media screen and (min-width: $xtraLarger) {
        width: 45.18rem;
      }
      width: 38.18rem;
      padding-left: 0;
      padding-right: 2rem;
      list-style-type: none;
      .list-icon {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        margin-bottom: 0.7rem;
        &-img {
          width: 2.5rem;
          display: flex;
          justify-content: start;
          // padding-right: 0.5rem;
          transition: padding 0.5s;
        }
        &:hover > .list-icon-img {
          padding-left: 1.3rem;
          // justify-content: end;
        }
        & > .list-icon-text {
          width: 90%;
        }
      }
    }
  }

  // SEND MONEY

  .send-money {
    position: relative;
    height: 670px;
    padding: -32px;
    h3 {
      color: #00cec2;
      text-align: center;
      font-weight: 600;
    }
  }
  .hover-boxes {
    border-radius: 10px;
    background-color: transparent;
  }
  .hover-boxes:hover {
    background-color: rgba(33, 57, 94, 0.548);
    transition: background-color ease-in-out 200ms;
  }
  .container-boxes-img {
    transform: scale(0.7);
    margin-left: -3rem;
  }
  .container-boxes {
    display: inline-block;
  }

  .boxes {
    margin-bottom: 0;
    height: 250px;
    display: grid;
    align-items: flex-start;
    // text-align: justify;
  }

  // PAY BILLS

  .bg-bills {
    background-image: url("../../images/bg-bills.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1050px;
    @media screen and (min-width: $xtraLarger) {
      //+1200
      height: 2250px;
      padding-top: 50rem;
    }
    width: 100%;
    padding-top: 10rem;
    &-container-flex {
      display: flex;
      align-items: start;
      justify-content: center;
      padding-top: 15rem;
      margin: 0 auto;
    }
    &-box {
      width: 35.125rem;
      margin-left: 5rem;
      margin-top: 6rem;
      &-title {
        margin-bottom: 4rem;
      }
    }
  }

  // AIRTIME

  .airtime {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: -32px;
    &-flex {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &-box-img {
        &-div {
          width: 100%;
        }
      }
    }
    &-box {
      &-title {
        margin-bottom: 4rem;
      }
      padding: 0 3rem;
      width: 32rem;
    }
    .img-centered {
      width: 100%;
      margin-left: -4rem;
    }
  }

  // GET INSIGHTS

  .bg-expenses {
    background-image: url("../../images/bg-expenses2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1320px;
    @media screen and (min-width: $xtraLarger) {
      //+1200
      height: 2520px;
      margin-top: -15rem;
    }
    width: 100%;
    background-position: center;
  }

  .expenses {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $xtraLarger) {
      padding-top: 43rem;
    }

    padding-top: 17rem;
    padding-bottom: 3rem;

    .expenses-boxes {
      justify-content: flex-end;
      padding-right: 6rem;
      &-margin {
        width: 52%;
        padding-top: 5rem;
        &-flex {
          &-width {
            width: 18rem;
          }
        }
      }
    }
  }

  // SECURITY

  .each-cards {
    border-radius: 25px;
    background: linear-gradient(
      313.58deg,
      rgba(255, 255, 255, 0) -43.67%,
      rgba(160, 146, 255, 0.221) 47.7%
    );
    width: 23.625rem;
    height: 17.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 2.5rem;
    margin-right: 1.5rem;
    &-img {
      padding-top: 1rem;
      transform: scale(0.8);
      margin-left: -0.5rem;
    }
    &-text {
      height: 4.5rem;
      // text-align: justify;
    }
    & * h4 {
      margin-bottom: 0;
    }
  }

  //CARDS W/ICONS

  .transfer {
    @media screen and (min-width: $xtraLarger) {
      padding-top: 25rem;
      margin-bottom: 0;
    }

    padding-top: 12rem;
    margin-bottom: 12rem;
  }
  .transfer-text {
    text-align: center;
  }

  .transfer-grid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 6rem;
    column-gap: 4rem;
  }
  .transfer-boxes {
    width: 19.625rem;
    height: 13.625rem;
  }
  .boxes-border {
    width: 19.625rem;
    border-bottom: 1px solid #94a3b8;
    border-left: 1px solid #94a3b8;
    border-bottom-left-radius: 20px;
    height: 250px;
    display: grid;
    align-items: flex-start;
    & img {
      width: 2.875rem;
      height: 2.875rem;
    }

    &:hover {
      background-color: rgba(33, 57, 94, 0.548);
    }
  }
}
