<footer>
  <div class="bg-footer">
    <div class="bg-footer-logo">
      <a href="index.html">
        <img
          class="bg-footer-logo-img"
          src="../../assets/images/logo-footer.svg"
          alt="logo-footer"
        />
      </a>
    </div>
    <div class="bg-footer-infoboxes">
      <div class="bg-footer-infoboxes-1pair">
        <div class="bg-footer-infoboxes-1pair-left">
          <div class="bg-footer-infoboxes-1pair-left-title">
            <p class="text-secondary font-18 fw-bolder mb-1">COMPANY</p>
          </div>
          <div class="bg-footer-infoboxes-1pair-left-list">
            <a class="pagename text-decoration-none" href="aboutUs.html"
              >About Us</a
            >
            <a class="pagename text-decoration-none" href="/faq.html">FAQ</a>
            <a class="pagename text-decoration-none" href="careers.html"
              >Careers</a
            >
            <a class="pagename text-decoration-none" href="/press.html"
              >Press</a
            >
            <a
              class="text-decoration-none"
              href="https://medium.com/@moneyflap.app"
              >Blog</a
            >
          </div>
        </div>
        <div class="bg-footer-infoboxes-1pair-right">
          <div class="bg-footer-infoboxes-1pair-right-title">
            <p class="text-secondary font-18 fw-bolder mb-1">TRANSPARENCY</p>
          </div>
          <div class="bg-footer-infoboxes-1pair-right-list">
            <a class="pagename text-decoration-none" href="privacyPolicy.html"
              >Privacy Policy</a
            >
            <a class="pagename text-decoration-none" href="waitlistterms.html"
              >Waitlist Terms</a
            >
          </div>
        </div>
      </div>
      <div class="bg-footer-infoboxes-2pair">
        <div class="bg-footer-infoboxes-2pair-left">
          <div class="bg-footer-infoboxes-2pair-left-socialmedia mb-2">
            <a
              target="_blank"
              href="https://www.facebook.com/MoneyFlap-109904821615716"
              ><img src="../../assets/images/fb-icon.svg" alt="fb-icon"
            /></a>
            <a target="_blank" href="https://www.instagram.com/moneyflap.app/"
              ><img src="../../assets/images/ig-icon.svg" alt="ig-icon"
            /></a>
            <a target="_blank" href="https://www.linkedin.com/company/moneyflap"
              ><img src="../../assets/images/in-icon.svg" alt="in-icon"
            /></a>
            <a target="_blank" href="https://twitter.com/moneyflap"
              ><img src="../../assets/images/tw-icon.svg" alt="tw-icon"
            /></a>
            <a target="_blank" href="https://vm.tiktok.com/ZML2sjR8R/"
              ><img src="../../assets/images/tk-icon.svg" alt="tk-icon"
            /></a>
            <a target="_blank" href="https://medium.com/@moneyflap.app"
              ><img src="../../assets/images/md-icon.svg" alt="md-icon"
            /></a>
          </div>
          <div class="bg-footer-infoboxes-2pair-left-address">
            <p class="text-center text-xl-start">
              <strong>Senegal</strong>
              Dakar, Senegal
              <br/>
              <strong>USA</strong>
              3400 COTTAGE WAY, STE G2 #8403 SACRAMENTO, California, 95825 USA.
            </p>
            <p class="text-center text-secondary text-xl-start">
              <a
                style="text-decoration: none"
                class="text-secondary"
                href="mailto:hello@moneyflap.com"
                >hello@moneyflap.com</a
              >
            </p>
          </div>
        </div>
        <div class="bg-footer-infoboxes-2pair-right">
          <div class="bg-footer-infoboxes-2pair-right-title">
            <p class="font-20 mb-2">Want MoneyFlap news?</p>
          </div>
          <div class="bg-footer-infoboxes-2pair-right-input">
            <form
              class="bg-footer-infoboxes-2pair-right-input-form"
              name="news-letter"
              method="POST"
              data-netlify="true"
            >
              <input
                type="text"
                name="email"
                placeholder="Your email address"
                class="bg-footer-infoboxes-2pair-right-input-form-inputbox"
              />
              <label
                class="bg-footer-infoboxes-2pair-right-input-form-label"
                for=""
              >
                <input
                  id="newsletter-button"
                  type="submit"
                  class="bg-footer-infoboxes-2pair-right-input-form-label-button"
                  value=""
                />
                <img
                  class="bg-footer-infoboxes-2pair-right-input-form-label-img"
                  src="../../assets/images/arrow-buton.svg"
                  alt="Enter email button"
                />
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-footer-register">
      <div class="bg-footer-register-separator">
        <hr style="border: 1px solid #ffffffc7; margin: 1.5rem 0" />
      </div>
      <div class="bg-footer-register-spec">
        <div class="bg-footer-register-spec-one">
          <p class="font-12">
The MoneyFlap Prepaid Visa® is issued by a partner bank pursuant to a license from Visa and may be used everywhere Visa is accepted. Banking services are provided by a partner bank pursuant to a license from BCEAO. The MoneyFlap Account follows all the security standards prescribed by the partner bank, in accordance with BCEAO regulations. MoneyFlap itself is not a bank and doesn’t hold or claim to hold a banking license.
MoneyFlap is a financial technology provider and administrator of the card program.
          </p>
        </div>
        <div class="bg-footer-register-spec-two">
          <img src="../../assets/images/copyright-fill.svg" alt="copyright" />
          <p class="mb-0">
            2022 MoneyFlap Technologies Inc. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
