<head>
  <meta charset="utf-8" />
  <title>MoneyFlap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
  />
  <style>
    @import url("https://fonts.cdnfonts.com/css/sofia-pro");
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    !(function (m, a, i, t, r, e) {
      if (m.RH) return;
      (r = m.RH = {}),
        (r.uuid = t),
        (r.loaded = 0),
        (r.base_url = i),
        (r.queue = []),
        (m.rht = function () {
          r.queue.push(arguments);
        });
      (e = a.getElementsByTagName("script")[0]),
        (c = a.createElement("script"));
      (c.async = !0),
        (c.src = i + "/widget/" + t + ".js"),
        e.parentNode.insertBefore(c, e);
    })(window, document, "https://app.referralhero.com", "MFf5f1a760c3");
  </script>
</head>
