<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark py-4">
    <div class="logo-money-flap">
      <a href="/index.html">
        <img
          src="../../assets/images/logomoneyflap.svg"
          alt="logo-money-flap"
          class="cursor-pointer"
        />
      </a>
    </div>

    <div class="dropdown px-0"></div>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarText"
      style="gap: 3rem"
    >
      <ul class="navbar-nav my-4">
        <li class="nav-item">
          <a class="pagename nav-link mx-lg-3" href="/faq.html">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="pagename nav-link mx-lg-3" href="/careers.html">Careers</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-lg-3"
            target="_blank"
            href="https://medium.com/@moneyflap.app"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a class="pagename nav-link mx-lg-3" href="/aboutUs.html">About Us</a>
        </li>
      </ul>

      <button
        id="open-button"
        class="get-access btn text-white px-5 py-3 btn-success nav-link"
        type="button"
      >
        Get early access
      </button>
    </div>
  </nav>
</header>
<script
  type="text/javascript"
  src="https://cdn.weglot.com/weglot.min.js"
></script>
<script>
  var dropdownButton = document.querySelector(".dropdown");
  var locTag = screen.availWidth < 1025 ? "" : ".dropdown";
  locTag == ""
    ? dropdownButton.classList.add("dropdown-invisible-small")
    : dropdownButton.classList.remove("dropdown-invisible-small");
  Weglot.initialize({
    api_key: "wg_524932f92005be3ebd1c8535160b4a6a3",
    switchers: [
      {
        style: {
          full_name: true,
          with_name: true,
          is_dropdown: true,
          with_flags: true,
          flag_type: "rectangle_mat",
          invert_flags: false,
          auto_switch: true,
          auto_switch_fallback: "en",
        },
        // Move switcher somewhere in the page
        location: {
          target: locTag,
          sibling: null,
        },
      },
    ],
  });
</script>
