<section>
  <div
    class="making-transfer"
    style="background-image: url(./../images/making-transfer-no-cell.svg)"
  >
    <div class="making-transfer-container d-grid d-lg-flex h-100">
      <div class="align-items-end making-transfer-container-text">
        <div class="making-transfer-container-text-flex px-5">
          <div class="">
            <div class="py-3 font-24">
              <p class="final-text font-28 fw-bold">
                Introducing Francophone Africa’s First Truly Financial
                <span style="color: #0037b3">Super App</span> to Change The Way
                You Bank
              </p>
            </div>
          </div>
          <div class="making-transfer-container-text-flex-p">
            <button
              id="open-button"
              class="btn btn-blue text-white px-5 py-3 font-18"
              type="button"
            >
              Get Early Access
            </button>
          </div>
        </div>
      </div>
      <div class="making-transfer-container-animation">
        <div class="making-transfer-container-animation-cellphone">
          <video autoplay loop>
            <source src="../../assets/videos/Phone.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="making-transfer-container-animation-card-transfer">
          <img
            class="making-transfer-container-animation-card-transfer-img"
            src="../../assets/images/card11.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
