// -----------------------------------------------------------------------------
// Header partial
// -----------------------------------------------------------------------------

/* stylelint-disable no-descending-specificity */

@media screen and (max-width: $small) {
  .navbar {
    width: calc(100% - 25%);
    margin: 0 auto;
  }
}
@media screen and (min-width: $small) {
  .header {
    width: 100vw;
    background-color: transparent;
    color: var(--text-color);
    & .navbar {
      width: calc(100% - 20%);

      margin: 0 auto;
    }
    .get-access {
      width: 15rem;
      font-size: 1.125rem;
      padding: 0 1rem;
    }
    a {
      color: var(--text-color);

      &:hover {
        color: var(--secondary-color);
      }
    }
  }

  .navbar {
    font-family: "Sofia Pro", sans-serif;
    color: #e2e8f0;

    .navbar a {
      color: #e2e8f0;
      text-decoration: none;
    }

    & .dropdown {
      position: relative;
      margin-left: 2rem;
      & select {
        width: 7rem;
        height: 2rem;
      }
      & .weglot-container {
        background-color: transparent;
        border-color: transparent;
      }
      &-button,
      .weglot_switcher {
        border-color: transparent;
        background-color: transparent;
        min-width: 8.25rem;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        & .wgcurrent {
          border: none;
        }
        & ul {
          background-color: transparent;
          border-color: transparent;
          top: 2rem;
        }
        & * a {
          color: #ffff;
        }
        &-title {
          text-decoration: none;
          margin: 0;
          color: #ffff;
        }
        &-container {
          width: 100%;
          padding: 0;
          margin: 0;
          & li {
            width: 100%;
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            & a {
              text-decoration: none;
              color: #ffff;
            }
            & .en::after {
              content: "";
              display: inline-block;
              width: 2rem;
              height: 1.5rem;
              margin-left: 0.5rem;
              background-image: url("https://flagicons.lipis.dev/flags/4x3/us.svg");
              vertical-align: middle;
            }
            & .fr::after {
              content: "";
              display: inline-block;
              width: 2rem;
              height: 1.5rem;
              margin-left: 0.5rem;
              background-image: url("https://flagicons.lipis.dev/flags/4x3/pm.svg");
              vertical-align: middle;
            }
          }
        }
      }
      &-invisible {
        &-small {
          display: none;
        }
      }
    }
    .wg-drop.country-selector .wgcurrent:after {
      filter: invert(100%) !important;
    }
  }

  .btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: white;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: white;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    color: #e2e8f0;
  }

  button.navbar-toggler-icon {
    color: #e2e8f0;
  }

  .navbar-light .navbar-toggler {
    color: #e2e8f0;
  }
}
