// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Colors
//
$blue: material-color("blue", "500");
$indigo: material-color("deep-purple", "a400");
$purple: material-color("purple", "a400");
$pink: material-color("pink", "a400");
$red: material-color("red", "a400");
$orange: material-color("orange", "a400");
$yellow: material-color("yellow", "a400");
$green: material-color("green", "a400");
$teal: material-color("teal", "a400");
$cyan: material-color("cyan", "a400");
$gray: material-color("grey", "600");
$gray-dark: material-color("grey", "800");

// $primary: #142339 !default;
// $primary: #0f1a2a !default;
// $primary: #0c1c2d !default;
// $primary: #101929 !default;
$primary: #101a31 !default; //google chrome
// $primary: #0d1b2f !default; //safari
// $primary: #0d1b2f !default; //safari2

$secondary: #00cec2 !default;
$success: #705bff !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: material-color("grey", "50") !default;
$dark: material-color("grey", "900") !default;

$text-color: material-color("grey", "800");
$text-color-contrast: material-color("grey", "50");

// Typography
//
$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$h1-font-size: $font-size-base * 3;
$h2-font-size: 44px;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.5;

$headings-font-weight: $font-weight-bolder;

$small: 320px;
$medium: 769px;
$large: 993px;
$minLarge: 994px;
$xtraLarge: 1166px;
